$vertical-padding: 0.5rem;
$horizontal-padding: 0.5rem;

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;

  label {
    padding-left: $horizontal-padding;
    margin-bottom: 0.5rem;
    font-size: inherit;
    font-family: inherit;
  }

  button,
  input[type="submit"] {
    cursor: pointer;
  }

  textarea {
    resize: none;
  }
}

.linkBtn {
  width: 100%;
  text-align: center;
}

.linkBtn,
.wrapper button,
.wrapper input[type="submit"] {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: var(--btn-hover-bg);
  }
}

.buttonInnerWrapper {
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapper input,
.wrapper textarea,
.wrapper button,
.linkBtn {
  padding: $vertical-padding $horizontal-padding;
  font-size: inherit;
  font-family: inherit;
  border: 1px solid var(--border);
  background-color: var(--input-bg);
  border-radius: var(--default-border-radius);

  &:focus {
    border-color: var(--border-focus);
    outline: none;
  }
}
