$vertical-padding: 0.5rem;
$horizontal-padding: 0.5rem;

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  label {
    padding-left: $horizontal-padding;
    margin-bottom: 0.5rem;
    font-size: inherit;
    font-family: inherit;
  }

  button,
  input[type="submit"] {
    cursor: pointer;
  }

  input,
  textarea,
  button {
    padding: $vertical-padding $horizontal-padding;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid var(--border);
    background-color: var(--input-bg);
    border-radius: var(--default-border-radius);

    &:focus {
      border-color: var(--border-focus);
      outline: none;
    }
  }

  textarea {
    resize: none;
  }
}
