:root {
  --background: #0a0a0a;
  --border: #555;
  --border-focus: #999;
  --input-bg: #222;
  --foreground: #ededed;
  --todo-short-bg: #2f7a26;
  --todo-medium-bg: #9e6a30;
  --todo-long-bg: #763636;
  --todo-unknown-bg: #2c3a4e;
  --error: #c8445e;
  --default-border-radius: 0.5rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

main {
  padding: 4rem 0;
  min-height: 100vh;
  width: 100%;
  max-width: 60ch;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-bottom: 4rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

fieldset {
  border: none;
}
