.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background: var(--background);
  z-index: 10000;
  border-top-left-radius: var(--default-border-radius);
  //border: 1px solid var(--border);

  ul {
    list-style: none;
    margin-bottom: 1rem;

    > li {
      cursor: pointer;
      margin-bottom: 1rem;
    }
  }
}

.toggle {
  cursor: pointer;
}
