.nav {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  > ul {
    list-style: none;
    margin-bottom: 1rem;

    > li {
      cursor: pointer;
      margin-bottom: 1rem;
    }
  }
}

.toggle {
  cursor: pointer;
}
