.page {
}

.todoWrapper {
  margin-bottom: 2rem;
  width: 100%;
}

.todo {
  background: var(--input-bg);
  padding: 2rem 2rem;
  border: 1px solid var(--border);
  border-radius: var(--default-border-radius);
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.desc {
  margin-bottom: 2rem;
}

.addBtn {
  width: 100%;
}

.addLink {
  width: 100%;
}

.length {
  span {
    padding: 0.25rem 1rem;
    border-radius: 9999px;
  }
}

.short {
  background: var(--todo-short-bg);
}

.long {
  background: var(--todo-long-bg);
}

.medium {
  background: var(--todo-medium-bg);
}

.unknown {
  background: var(--todo-unknown-bg);
}
