.todo {
  background: var(--input-bg);
  padding: 2rem 2rem;
  border: 1px solid var(--border);
  border-radius: var(--default-border-radius);
  margin-bottom: 2rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.desc {
  margin-bottom: 2rem;
}

.length {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    padding: 0.25rem 1rem;
    border-radius: 9999px;
  }
}

.todoActions {
  height: 100%;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  > button {
    display: inline-flex;
    align-items: flex-end;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    margin-left: 2rem;
  }
}

.short {
  background: var(--todo-short-bg);
}

.long {
  background: var(--todo-long-bg);
}

.medium {
  background: var(--todo-medium-bg);
}

.unknown {
  background: var(--todo-unknown-bg);
}
